.resultcontainer {
  display: flex;
  padding-bottom: 40px;
}
.teamcontainer1,
.teamcontainer2 {
  flex: 1;
  display: flex;
  align-items: center;
}
.teamcontainer1 {
  color: white;
  margin-right: auto;
  justify-content: flex-end;
}
.teamcontainer2 {
  color: white;
  margin-left: auto;
  justify-content: flex-start;
}
.scorecontainer {
  display: flex;
  font-size: 30px;
  color: white;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  flex: 0.2;
}

.title {
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: 900;
  padding-top: 80px;
  padding-bottom: 30px;
}

.matchcontainer {
  background-color: #673ab7;
}

.teamcontainer1 h2 {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

.teamcontainer2 h2 {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

.teamcontainer1 img {
  width: 65px;
  padding-left: 25px;
  padding-right: 25px;
}

.teamcontainer2 img {
  width: 65px;
  padding-left: 25px;
  padding-right: 25px;
}

.map {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 500;
  padding-bottom: 10px;
}

.map:hover {
  cursor: pointer;
  color: #ffd740;
}

.team:hover {
  cursor: pointer;
  color: #ffd740;
}

.date {
  text-align: center;
  font-size: 25px;
  color: white;
  padding-bottom: 10px;
}

.winner {
  text-align: center;
  color: #ffd740;
}

.playersContainer {
  display: flex;
  justify-content: center;
}

.playersteam {
  padding: 40px;
  padding-top: 10px;
}

.playersteam h1 {
  color: #673ab7;
  font-weight: 900;
}

.player:hover {
  cursor: pointer;
  color: #ffd740;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.separator {
  padding: 10px;
}
