<div class="form-container" [formGroup]="newTeam">
    <h3>Update team</h3>
    <mat-form-field>
        <mat-label>Team name</mat-label>
        <input matInput formControlName="teamname">
    </mat-form-field>
    <mat-select-country formControlName="country"></mat-select-country>
    <mat-form-field>
        <mat-label>Ranking</mat-label>
        <input matInput type="number" formControlName="ranking">
    </mat-form-field>
      <a mat-raised-button color="accent" [mat-dialog-close] (click)="submit()">Update</a>
</div>
