<div class="form-container" [formGroup]="newPlayer">
    <h3>Update</h3>
    <mat-form-field>
        <mat-label>Gamertag</mat-label>
        <input matInput formControlName="gamertag">
    </mat-form-field>
    <mat-select-country formControlName="country"></mat-select-country>
    <mat-form-field>
        <mat-label>Full name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Earnings</mat-label>
        <input matInput type="number" formControlName="earnings">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Agents</mat-label>
        <mat-select multiple formControlName="agents" name="agents" [(ngModel)]="selectedAgents">
          <mat-option *ngFor="let agent of agents" [value]="agent.toString()">{{agent}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Team</mat-label> 
        <mat-select formControlName="team">
            <mat-option *ngFor="let team of teams" [value]="team._id">{{team.teamname}}</mat-option>
        </mat-select>
      </mat-form-field>
      <a mat-raised-button color="accent" [mat-dialog-close] (click)="submit()">Update</a>

</div>
