  <div class="header">
    Valorant Players
  </div>
  
  <div class="playerscontainer">
        <div class="players">
            <mat-grid-list cols="5" rowHeight="14rem">
                <mat-grid-tile *ngFor="let player of players">

                    <mat-card class="card" (click)="playerDetails(player)">
                        <mat-card-title-group>
                            <div class="text">
                                <mat-card-title>{{player.gamertag}}</mat-card-title>
                                <mat-card-subtitle>{{player.fullname}}</mat-card-subtitle> 
                                                            
                            </div>
                            <img mat-card-md-image src="{{player.picture}}" alt="">
                            <img class="logo" src="{{player.team.logo}}" alt="">
                        
                        </mat-card-title-group>


                        
                    </mat-card>
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>
 </div>