  <div class="header">
    <p>Valorant Players</p>
    <div *ngIf="this.isLoggedIn">
        <a class="headerbutton" mat-raised-button color="accent" (click)="createPlayer()">Create</a>
    </div>

  </div>
  
        <div class="players">
            <mat-grid-list cols="{{columns}}" rowHeight="11rem">
                <mat-grid-tile *ngFor="let player of players">

                    <mat-card class="card" (click)="playerDetails(player)">
                        <mat-card-title-group>
                            <div class="playerpicture">
                            <img mat-card-md-image src="{{player.picture}}" alt="">
                            </div>
                            <div class="logotext">
                                <img class="logo" src="{{player.team.logo}}" alt="">
                                <div class="text">
                                    <mat-card-title>{{player.gamertag}}</mat-card-title>
                                    <mat-card-subtitle>{{player.fullname}}</mat-card-subtitle>                            
                                </div>
                            </div>
                        </mat-card-title-group>
                    </mat-card>
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>