<mat-toolbar color="primary">
  <mat-icon class="logo">games</mat-icon>
  <span> VALORANT</span>

  <div class="spacer"></div>
  <a mat-button (click)="openMatches()">Matches</a>
  <a mat-button (click)="openTeams()">Teams</a>
  <a mat-button (click)="openPlayers()">Players</a>
  <a mat-button (click)="openMaps()">Maps</a>
  <ng-container *ngIf="!signedIn">
    <a
      mat-raised-button
      class="button-boy"
      color="accent"
      (click)="openRegister()"
      >Sign Up</a
    >
    <a mat-raised-button color="accent" (click)="openLogin()">Login</a>
  </ng-container>
  <ng-container *ngIf="signedIn">
    <a mat-raised-button color="accent" (click)="signOut()">Sign out</a>
  </ng-container>
</mat-toolbar>
